body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

#container {
    width: 100%;
    height: 100vh;
    display: block;
    background-color: aquamarine;
}

#menu {
    display: block;
    float: left;
    width: 240px;
    height: 100vh;
    background-color: #444444;
    color: white;
    font-family: Varela Round;
    font-style: normal;
    font-size: 16px;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 720;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
    background-color: #EEEEEE;
    color: black;
    font-family: Kanit;
    font-style: normal;
    font-size: 16px;
    padding: 20px 20px 20px 260px;
}

.home {
    background-color: #EB83E1;
    width: 100%;
    height: 50px;
}

.profile-img1 {
    width:220px;
    height: 220px;
    overflow:hidden;
    margin: 10px;
    border-radius: 8px;
    background-image: url(profile-sun.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile-img2 {
    float: left;
    margin-right: 8px;
    width:40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #DDDDDD;
}

.box {
    display: block;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0 0 12px 0;
    width: 720px;
    padding: 8px 8px 12px 8px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 2px 3px 3px 0 rgba(0, 0, 0, 0.25);
}

.name {
    float: left;
    color: #EB83E1;
    text-decoration: underline;
}

.date {
    font-family: Varela Round;
    font-size: 14px;
    color: #AAAAAA;
}

.gallery {
    float: left;
    margin: 0px 8px 8px 0;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #DDDDDD;
}

.box-inside {
    float: left;
    padding-left: 48px;
    width: 100%;
    box-sizing: border-box;
}

.line {
    float: left;
    width: 100%;
    height: 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #DDDDDD;
    margin-bottom: 5px;
    box-sizing: border-box;
}
